* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

a {
    color: black;
}

body {
    background-color: #caf0fe;
}

.navbar {
    width: 86em;
    height: 70px;
    /* max-height: 70px; */
    margin: 10px;
    padding: 0px 20px;
    border-radius: 10px;
    background: #caf0fe;
    box-shadow: 12px 12px 24px #8ba6af,
        -12px -12px 24px #ffffff;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo,.profile_img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: linear-gradient(145deg, #d8ffff, #b6d8e5);
    box-shadow: 12px 12px 24px #8ba6af,
        -12px -12px 24px #ffffff;
}

.logo img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.logo:hover,
.profile_img:hover {
    background: #caf0fe;
    animation: insetAnmi 0.4s linear forwards;
    cursor: pointer;
}

/* 导航栏鼠标悬浮动画 */
@keyframes insetAnmi {
    0% {
        box-shadow: inset 1px 1px 0px #b6d8e5,
            inset -1px -1px 10px #deffff;
    }

    20% {
        box-shadow: inset 2px 2px 2px #b6d8e5,
            inset -2px -2px 10px #deffff;
    }

    40% {
        box-shadow: inset 3px 3px 4px #b6d8e5,
            inset -3px -3px 10px #deffff;
    }

    60% {
        box-shadow: inset 4px 4px 6px #b6d8e5,
            inset -4px -4px 10px #deffff;
    }

    80% {
        box-shadow: inset 5px 5px 8px #b6d8e5,
            inset -5px -5px 10px #deffff;
    }

    100% {
        color: blue;
        box-shadow: inset 5px 5px 10px #b6d8e5,
            inset -6px -6px 10px #deffff;
    }
}

/* 二级菜单下拉动画 */
@keyframes slide-down {
    0% {
        transform: scale(0.5, 0.5);
    }

    20% {
        transform: scale(0.6, 0.6);
    }

    40% {
        transform: scale(0.7, 0.7);
    }

    60% {
        transform: scale(0.8, 0.8);
    }

    80% {
        transform: scale(0.9, 0.9);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* 二级菜单隐藏动画 */
@keyframes slide-up {
    0% {
        transform: scale(1, 1);
    }

    20% {
        transform: scale(1, 0.8);
    }

    40% {
        transform: scale(1, 0.6);
    }

    60% {
        transform: scale(1, 0.4);
    }

    80% {
        transform: scale(1, 0.2);
    }

    100% {
        transform: scale(1, 0);
    }
}


.menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
}

.menu {
    margin: 0px 14px;
}

.menus div {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    /* background: #caf0fe; */
    text-align: center;
    line-height: 50px;

}

.menus div:hover {
    animation: insetAnmi 0.4s linear forwards;
}

/* 二级菜单 */
.second_menu:hover {
    display: block;
}

.menu_childs {
    height: 150px;
    display: none;
    z-index: 9;
}

.menu_child {
    margin: 0;
}


/* 顶部搜索框 */
input {
    border: 0px;
    border-radius: 50px;
    background: #caf0fe;
    box-shadow: inset 6px 6px 13px #a4c2ce,
        inset -6px -6px 13px #f0ffff;
}

.search {
    display: flex;
    align-items: center;
}

.search_in {
    width: 140px;
    height: 40px;
    margin-left: 18em;
    text-align: center;
}

.serach_icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: 4px;
    
}

.serach_icon:hover {
    animation: insetAnmi 0.4s linear forwards;
}

/* 登录、注册 */
.login {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
}

.login:hover {
    animation: insetAnmi 0.4s linear forwards;
}

/* 登录&个人信息 */
.pro div{
    height: 50px;
}
.pro {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.profile_img {
    margin-left: 30px;
    /* margin-bottom: 30px; */
}

.profile_menus {
    width: 120px;
    /* height: 100px; */
    display: none;
}

.profile_menus .profile_menu {
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;
    /* margin-top: 10px; */
}
.profile_menus .profile_menu:hover{
    animation: insetAnmi 0.4s linear forwards;
}